<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="FromEmailAddress" value="your-app-account@example.com" />
  <add key="ErrorEmails" value="admin@example.com" />
  <add key="UpdateEmails" value="user1@example.com,user2@example.com" />

  <add key="SaltyString" value="Just type a bunch of random junk in here" />
  
</appSettings>